.App {
  text-align: center;
  /* margin-top: 15%; */
  /* height:auto; */
  /* border: 3px solid teal; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .body {
  /* background-color: teal; */
/* border:3px solid teal; */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: teal;
  /* border: 3px solid green; */
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
}

.logo {
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav {
  display: flex;
  padding: 1.5em;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
.span {
  color: white;
  padding: 1em;
}

.cardComp {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* border:3px solid ; */
  /* margin: auto; */
  padding:2em 0em 2em 0em;
}

.card {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  border: 2px solid grey;
  border-radius: 25px;
  justify-content: space-around;
  align-items: center;
  margin: 1em 2em 4em 2em;
  padding: 1em;
  
  box-shadow: 8px 8px 8px 8px rgb(214, 213, 213);
}

.cardinfo {
  display: flex;
  flex-direction: column;

  padding: 5em 0em 5em 0em;
  /* margin: em; */
  /* margin-left: 3em; */
}

.cardBtn {
  display: flex;
  bottom: 5%;
}

.pic {
  border: 2px solid orange;
  border-radius: 50%;
  margin: 1em 0em 1em 0em;
  padding: 3px;
  height: 11em;
  width: 11em;
}
.fpic {
  border: 3px solid orange;
  border-radius: 50%;
  padding: 3px;
  height: 8em;
  width: 8em;
}

.btn {
  font-size: large;
  color: white;
  background-color: rgb(214, 113, 19);
  border-radius: 50%;
  /* border: 2px solid teal ; */
  margin: 1em;
  /* padding: 0.5em; */
  height: 4.5em;
  width: 4.5em;
}

.btn1 {
  font-size: large;
  color: white;
  background-color: rgb(18, 134, 66);
  border-radius: 50%;
  /* border: 2px solid teal ; */
  margin: 1em;
  /* padding: 0.5em; */
  height: 4.5em;
  width: 4.5em;
}

.btn:hover {
  background-color: rgb(236, 139, 48);
}
.btn1:hover {
  background-color: rgb(21, 163, 80);
}

.btn:active {
  /* background-color: rgb(236, 65, 99); */
  box-shadow: 0 3px rgb(168, 168, 168);
  transform: translateY(2px);
}
.btn1:active {
  /* background-color: rgb(236, 65, 99); */
  box-shadow: 0 3px rgb(168, 168, 168);
  transform: translateY(2px);
}

.nameTag {
  font-size: x-large;
  font-style: italic;
  padding: 2px;
}

.addtag {
  font-size: large;
  padding: 2px;
}
.line {
  border: 1px solid black;
  width: 70%;
}
.friendComp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border:3px solid blue; */
  /* margin-top: 4em; */
  padding: 2em;
}

.friendCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid grey;
  box-shadow: 8px 8px rgb(214, 213, 213);

  /* border:2px solid teal; */
  border-radius: 25px;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em;
  padding: 1em 2em 1em 2em;
  /* height: ; */
  width: 70%;
}

.fcardinfo {
  display: flex;
  flex-direction: column;

  /* padding: 1em; */
  margin: 4em;
  /* margin-left: 3em; */
}

.footer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: white;
  /* border: 3px solid black; */
  color: whitesmoke;
  padding: 1px;
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
